<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"layout":{"type":"constrained"},"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-content /-->
<!-- wp:woocommerce/product-collection {"displayLayout":{"columns":3,"type":"flex"},"query":{"inherit":true,"perPage":12,"postType":"product"}} -->
<!-- wp:woocommerce/product-template -->
<!-- wp:woocommerce/product-image /-->
<!-- wp:woocommerce/product-title /-->
<!-- wp:woocommerce/product-price /-->
<!-- wp:woocommerce/product-button /-->

<!-- /wp:woocommerce/product-template -->

<!-- /wp:woocommerce/product-collection -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
